# Dependencies
node_modules/
frontend/node_modules/
backend/node_modules/

# Build outputs
frontend/dist/
frontend/dist-ssr/
backend/dist/
backend/build/

# Environment variables
.env
.env.local
.env.*.local
frontend/.env
backend/.env

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# OS files
.DS_Store
Thumbs.db

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# TypeScript
*.tsbuildinfo

# Testing
coverage/
.nyc_output/

# Temporary files
*.tmp
*.temp
.cache/
backend/dist/tsconfig.build.tsbuildinfo
backend/dist/tsconfig.build.tsbuildinfo
frontend/ProjectResource/P4 _ LHKEM (PBL).txt
frontend/ProjectResource/P4 _ LHKEM (Proposal).txt
frontend/ProjectResource/P4 _ LHKEM (SRS).txt
frontend/ProjectResource/FigmaDesign/Footer.png
frontend/ProjectResource/FigmaDesign/Home.png
frontend/ProjectResource/FigmaDesign/login.png
frontend/ProjectResource/FigmaDesign/map.png
frontend/ProjectResource/FigmaDesign/Nav.png
frontend/ProjectResource/FigmaDesign/OTP-verification.png
frontend/ProjectResource/FigmaDesign/register.png
frontend/ProjectResource/FigmaDesign/workshop.png
frontend/ProjectResource/FigmaDesign/WorkShopEnrollPopup.png
