PORT=3000
MONGO_PORT=27017
# เปลี่ยน FRONTEND_URL เป็น Domain จริงสำหรับขึ้น Production
FRONTEND_URL=http://localhost:5173
# เปลี่ยน BACKEND_URL เป็น Domain จริงสำหรับขึ้น Production
BACKEND_URL=http://localhost:3000
NODE_ENV=production
# ค่า MONGO_URI และ MONGO_URL สำหรับเชื่อมต่อ Database
MONGO_URI=mongodb://root:password@mongo:27017/lhkem?authSource=admin
MONGO_URL=mongodb://root:password@mongo:27017/lhkem?authSource=admin
# เปลี่ยน JWT_SECRET เป็นรหัสลับ
JWT_SECRET=your-super-strong-production-secret-key
# เปลี่ยนค่า MAIL_xxx ให้สอดคล้องกับข้อมูลอีเมลจริง
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USER=leonghimkaw@gmail.com
# ใส่ App Password 16 หลักของอีเมลจากผู้ให้บริการ เช่น Gmail (ห้ามใช้รหัสผ่านอีเมลปกติ)
MAIL_PASSWORD=your-16-digit-gmail-app-password
MAIL_FROM="LHKEM Community" <leonghimkaw@gmail.com>